@import './fonts.scss';
@import './colors.scss';

@import '../components/styles';
@import '../pages//styles';


body {
    font-family: $cutive;
}

ul {
    padding: 0px;
    margin: 0px;
}

li {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

input {
    font-family: $cutive;
}